<form (ngSubmit)="onPurchase()">
  <div class="p-4 d-flex flex-column justify-content-between w-100 ven-border">
    <div class="w-100 ven-primary m-2">
      <h5>Tender Amount</h5>
      <input
        type="number"
        min="0"
        class="w-100 bg-body-secondary p-3 border-1 fw-bold ven-border rounded ven-seconday"
        [(ngModel)]="tenderedAmount"
        name="tenderedAmount"
        required
      />
    </div>
    <div class="w-100 ven-primary m-2">
      <h5>Messages</h5>
      <div class="w-100 bg-body-secondary p-3 border">
        <p class="h6 ven-seconday" *ngIf="purchasedMessage; else visitMessage">
          Thank you for purchasing our product!
        </p>
        <ng-template #visitMessage>
          <p class="h6 ven-seconday">
            Thank you for visiting our Vending Machine!
          </p>
        </ng-template>
      </div>
    </div>
    <div class="w-100 ven-primary m-2">
      <h5>Selected Item</h5>
      <div class="w-100 bg-body-secondary p-3 border">
        <p class="h6 ven-seconday">
          {{ product?.name }}
          {{ product ? (selectedCurrency === "USD" ? ": $" : ": £") : "" }}
          {{ product?.price }}
        </p>
      </div>
    </div>
    <div class="w-100 ven-primary m-2">
      <h5>Change</h5>
      <div class="w-100 bg-body-secondary p-3 border">
        <ul *ngIf="showChange" class="ven-seconday">
          <li *ngFor="let coin of change; let i = index">
            Coin {{ i + 1 }} : {{ coin }} Cents
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-between m-2" *ngIf="product">
      <button
        type="submit"
        [disabled]="parseFloat(product?.price || '0') > tenderedAmount"
        class="btn ven-button"
      >
        Purchase
      </button>
      <div class="dropdown">
        <button
          class="btn ven-button dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Currency : {{ selectedCurrency }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="setCurrency('USD')">USD</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="setCurrency('GBP')">GBP</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>

<div
  class="alert alert-warning position-fixed top-50 start-50 translate-middle w-50"
  role="alert"
  *ngIf="showAlert && tenderedAmount < parseFloat(product?.price || '0')"
>
  Tendered Amount must be greater than Product Price, select another item or
  insert another Coin
</div>
