<div class="container">
  <div class="row p-3">
    <div class="col-lg-6">
      <div class="d-flex flex-wrap gap-4">
        <div class="col-12 col-lg" *ngFor="let product of products">
          <app-product
            name="{{ product.name }}"
            price="{{ product.price }}"
            quantity="{{ product.quantity }}"
            imageUrl="{{ product.imageUrl }}"
            id="{{ product.id }}"
          ></app-product>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <app-purchase class="ml-2"></app-purchase>
    </div>
  </div>
</div>
