<div class="container">
  <div class="row p-3">
    <div
      class="col-lg-6 mb-1"
      style="
        overflow-y: auto;
        max-height: 100vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
          display: none;
        }
      "
    >
      <div class="d-flex flex-wrap gap-4">
        <div class="col-12 col-lg ven-border" *ngIf="products.length === 0">
          <p class="text-center">Products not Available</p>
        </div>
        <div class="col-12 col-lg" *ngFor="let product of products">
          <app-product
            name="{{ product.name }}"
            price="{{ product.price }}"
            quantity="{{ product.quantity }}"
            imageUrl="{{ product.imageUrl }}"
            id="{{ product.id }}"
          ></app-product>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-1">
      <app-purchase
        class="ml-2"
        style="position: sticky; top: 0"
      ></app-purchase>
    </div>
  </div>
</div>
