<nav
  class="navbar navbar-expand-lg p-3 fw-bold"
  style="background-color: #f58533"
>
  <div class="container px-3 px-md-4">
    <!-- Wrap the brand in a div with class "col-6" -->
    <div class="col-6">
      <a class="navbar-brand text-white">Acme Vending Machine</a>
    </div>

    <button
      class="navbar-toggler mb-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Wrap the search input in a div with class "col-6" -->
      <div class="col-12 d-flex justify-content-end">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (input)="onSearch($event)"
        />
      </div>
    </div>
  </div>
</nav>
